.header {
    width: 1000px;
    height: 80px;
    background-color: #ddd;
    margin-bottom: 10px;
}
h1,h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 50px;
}
.wrap {
    width: 1000px;
    margin: 0 auto;
}
.container {
    height: 1100px;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
}
.main {
    display: block;
    width: 660px;
    margin-right: 20px;
    background-color: #ddd;
}
.sidebar {
    width: 320px;
}
.sidebar__item {
    background-color: #ddd;
    margin-bottom: 20px;
    height: 320px;
}
.sidebar__item--fixed {
    background-color: #e4b6b6;
    position: sticky;
    margin-bottom: 0;
    top: 10px;
    z-index: 1;
}
.footer {
    width: 1000px;
    background-color: #ddd;
    height: 500px;
}
.box{
    display: inline-block;
    background-color: #fdfffd;
    width: 298px;
    height: 360px;
    margin: 1em;
    float: left;
}

.rogo {
    display: inline-block;
    background-color: #fdfffd;
    width: 298px;
    height: 360px;
    margin: 1em;
}

/*ボックス全体*/
.accbox {
    margin: 2em 0;
    padding: 0;
    max-width: 400px;/*最大幅*/
}

/*ラベル*/
.accbox label {
    display: block;
    margin: 1.5px 0;
    padding : 5px 5px;
    color :#2f8fcf;
    font-weight: bold;
    background :#a4cbf3;
    cursor :pointer;
    transition: all 0.5s;
}

/*ラベルホバー時*/
.accbox label:hover {
    background :#85baef;
}

/*チェックは隠す*/
.accbox input {
    display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
}

div.example {
    width: 660px;
    height: 600px;
    background-color: #f4f5ff;
    overflow: scroll;
}