<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<form action='toukou' method='post'>
    <table><tr>
        <td>user ID</td>
        <td>
            <input type='text' name='id' size='40' maxlength='32' autocomplete='OFF'/>
        </td>
    </tr><tr>
        <td>password</td>
        <td>
            <input type='password' name='pass' size='40' maxlength='32' autocomplete='OFF'/>
        </td></tr>
    </table>
    <button type='submit'>送信する</button>
</form>
</body>
</html>